<!doctype html>
<html>
    <head>
        <title>Staff movement</title>
        <style>
            body{
                display:flex;
                font-family: times new roman, sans-serif;
                background-color: yellow;
                text-align: center;
                justify-content: center;
                flex-direction: column;

            }
        </style>
    </head>
    <body>
        <h1>staff movement</h1>
        <p>
            Staff movement is a web application that allows staff to register and login to the system.
             The staff can also view their movement history and logout of the system.
        </p>
      
               
    </body>
    </html>