<!doctype html>
<html>
    <head>
        <style>
            body{
                display :flex;
                justify-content:center;
                align-items:center;
                background:#fff;

            }
        </style>
    </head>

    <body>
        <form>
            <label for ="Firstname">Firstname</label><br>
            <input type ="text" id=Firstname name="Firstname"><br>
            <label for ="lastname" >Lastname</label><br>
            <input type="text" id="lastname" name="Lastname"><br>
            <label for= "username">username</label><br>
            <input type = "text" id=username name="username"><br>
            <label for ="password">Password</label><br>
            <input type="password" id="password"  name="Password"><br>
            <label for ="password" >Confirm Password</label><br>
           <input type="password" id="password" name="Confirm Password"><br>


       
            <button class="btn">register</button>
            <button class="cancel">cancel</button>
        </form>
    </body>
    </html>

